<!-- Chart-3 -->
<div id="main-wrapper">

    <!-- Charts -->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tipos de planes mensuales</h5>
                    <div class="pie" style="height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Fisioterapeutas y clientes</h5>
                    <div class="flot-chart-content" id="flot-line-chartt"></div>
                    <div class="bars" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informes registrados</h5>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End chart-3 -->
    <!-- End Charts -->
</div>
<!-- End Wrapper -->
