@{
    ViewBag.Title = "Unicar - Administrador";
}

<div class="row">
    <h1>UNICAR - PÁGINA DE INICIO - ADMINISTRADOR</h1>
    <p><a href="https://localhost:44304/Viaje">Gestionar viajes</a></p>
    <p><a href="https://localhost:44304/Direccion">Gestionar direcciones</a></p>
    <p><a href="https://localhost:44304/Localidad">Gestionar localidades</a></p>
    <p><a href="https://localhost:44304/Vehiculo">Gestionar vehículos</a></p>
    <p><a href="https://localhost:44304/Alerta">Gestionar alertas</a></p>
    <p><a href="https://localhost:44304/Valoracion">Gestionar valoración</a></p>
    <p><a href="https://localhost:44304/Pasajero">Gestionar pasajero</a></p>
    <p><a href="https://localhost:44304/Conductor">Gestionar conductor</a></p>
    <p><a href="https://localhost:44304/Administrador">Gestionar administrador</a></p>
    <p><a href="https://localhost:44304/Usuario">Gestionar usuario</a></p>
</div>