<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fisioterapeutas y clientes</h5>


                <div id="grafico">
                    <tbody>
                        <tr>
                            <td class="legendColorBox">
                                <div style="border:1px solid #ccc;padding:1px">
                                    <div style="width:4px;height:0;border:5px solid rgb(48, 156, 72);overflow:hidden"></div>
                                </div>
                            </td>
                            <td class="legendLabel">Fisioterapeutas</td>
                        </tr>
                        <tr>
                            <td class="legendColorBox">
                                <div style="border:1px solid #ccc;padding:1px">
                                    <div style="width:4px;height:0;border:5px solid rgb(63, 150, 231);overflow:hidden"></div>
                                </div>
                            </td>
                            <td class="legendLabel">Clientes</td>
                        </tr>
                    </tbody>

                </div>


                <div class="bars" style="height: 400px;">
                </div>

            </div>
        </div>
    </div>
</div>
