#menuimagen {
    width: 4%;
    height: auto;
}

#btn-menu {
    display: none;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    border-right: 1px solid #fff;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

@media (max-width:768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background: #4E94AB;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    #btn-menu:checked~.menu {
        margin: 0;
    }
}